h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply sm:text-6xl;
  @apply leading-tight;
}

h2 {
  @apply font-bold;
  @apply text-2xl;
  @apply sm:text-4xl;
}

h3 {
  @apply font-semibold;
  @apply text-3xl;
}

h4 {
  @apply font-normal;
  @apply text-lg;
  @apply sm:text-2xl;
}

h5 {
  @apply font-medium;
  @apply text-xl;
}

h6 {
  @apply font-normal;
  @apply text-base;
  @apply sm:text-lg;
}

p {
  @apply font-normal;
  @apply text-sm;
  @apply sm:text-base;
}
